{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_availability_dependencies/dependencies

    Template purpose and description.

    Classes required for JS:
    * TODO

    Data attributes required for JS:
    * TODO

    Context variables required for this template:
    * TODO

    Example context (json):
    {
    }
}}

<div class="block_availability_dependencies_dependencies_block">
  <div class=block_availability_dependencies_container>
    <svg class="availability_dependencies block">
      <defs>
        <marker id="arrow"
              viewBox="0 0 10 10"
              refX="14.5" refY="5"
              markerUnits="strokeWidth"
              markerWidth="7" markerHeight="5"
              orient="auto">
          <path d="M 0 0 L 10 5 L 0 10 z" style="fill: lightgray"/>
        </marker>
      </defs>  
    </svg>
  </div>
  <a href="{{viewpageurl}}" class="btn btn-primary" data-action="new-request">
            {{#str}}open_page, block_availability_dependencies{{/str}}
  </a>
</div>

<!-- load d3 -->
<script src="{{d3src}}"></script>

{{#js}}
require(['block_availability_dependencies/test'], function(module) {
    module.init({{{dependencies}}});
});
{{/js}}